@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <script>
        Ext.application({
            name: 'MyApp',
            launch: function () {  
                Ext.define('Report', {
                    extend: 'Ext.data.Model',
                    fields: [
                        'ReportId', 'Server', 'DataBase', 'UserName', 'UserPassword', 'DataSourceType',
                        'FileQueryColName', 'FileQueryOutputColName', 'FileQueryTempPath'
                    ]
                });
        
                
                var store = Ext.create('Ext.data.Store', {
                    model: 'Report',
                    proxy: {
                        type: 'rest',
                        url: 'https://localhost:7004/xml/api/Reports', 
                        reader: {
                            type: 'json',
                            rootProperty: 'DataList'
                        },
                        wrter: {
                            type: 'json'
                        }
                    },
                    autoLoad: true 
                });
        
                
                var grid = Ext.create('Ext.grid.Panel', {
                    title: 'Reports',
                    store: store,
                    columns: [
                        { text: 'ReportId', dataIndex: 'ReportId' },
                        { text: 'Server', dataIndex: 'Server' },
                        { text: 'DataBase', dataIndex: 'DataBase' },
                        { text: 'UserName', dataIndex: 'UserName' },
                        { text: 'UserPassword', dataIndex: 'UserPassword' },
                        { text: 'DataSourceType', dataIndex: 'DataSourceType' },
                        { text: 'FileQueryColName', dataIndex: 'FileQueryColName' },
                        { text: 'FileQueryOutputColName', dataIndex: 'FileQueryOutputColName' },
                        { text: 'FileQueryTempPath', dataIndex: 'FileQueryTempPath' }
                    ],
                    listeners: {
                        rowClick: function (grid, record){
                            var reportId = record.get('ReportId');
                                                        
                            Ext.Ajax.request({
                                url: 'https://localhost:7004/xml/DeleteNode/' + reportId,
                                method: 'DELETE',
                                success: function (response, opts) {
                                    alert("Запись с reportId" + reportId + " удалена")
                                },
                                failure: function (response, opts) {
                                    alert("Записи не существует или произошла ошибка, но скорее всего произошла ошибка")
                                }
                            });
                        }
                    },
                    flex: 1, 
                    height: 1500,
                    width: '800',
                    renderTo: Ext.getBody()
                });
                
            }
            
        });
        
    </script>
</div>
